* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 20px auto;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;


}

img {
    max-width: 100%;
    height: auto;
    vertical-align: center;
}

.grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;


}

.grid-wrapper>div>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: opacity .5s;
    cursor: pointer;
}

.grid-wrapper>div:hover img {
    opacity: 0.5;
}

.grid-wrapper div:first-child {
    grid-column: span 2;
}

.grid-wrapper div:nth-child(2) {
    grid-row: span 2;
}

.grid-wrapper div:nth-child(3) {
    grid-row: span 2;
    grid-column: span 2;
}